* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira-sans', sans-serif;
}

body {
  background-color: #fff;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-items: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  grid-column: 1/5;
  padding: 16px;
  text-align: right;
  background-color: #858693;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

button {
  appearance: none;
  border: solid #fff 1px;
  outline: none;
  color: #858693;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}

.transform {
  grid-column: 1/3;
  display: flex;
}

.transform button {
  flex: 1 1 0;
  background-color: #e0e0e0;
  font-weight: 700;
  width: 100px;
}

.operators {
  grid-column: 3/5;
  grid-row: 2/6;
  display: flex;
  flex-direction: column;
}

.operators button {
  flex: 1 1 0;
  background-color: #f39148;
  font-weight: 700;
  width: 100px;
}

.digits {
  grid-column: 1/3;
  display: flex;
  flex-wrap: wrap-reverse;
}

.digits button {
  flex: 1 1 33.33%;
  max-width: 66.66%;
  background-color: #e0e0e0;
}

.zero_digits {
  grid-column: 1/3;
}

.zero {
  background-color: #e0e0e0;
  font-weight: 700;
  width: 200px;
}

.point {
  flex: 1 1 0;
  background-color: #e0e0e0;
  font-weight: 700;
  width: 100px;
}

/* pages styles */
.home,
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
}

.titleHome {
  padding: 20px;
}

.menuNav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2px;
}

a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  font-weight: bold;
}

.calculatorPage {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 40px;
}